[Unit]
Description=Flowmon Service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
EnvironmentFile=/etc/default/flowmon
ExecStart=/usr/bin/flowmon $ARGS
ReadOnlyPaths=/etc/flowmon/config.yaml
DynamicUser=true
AmbientCapabilities=CAP_NET_ADMIN
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ProtectHome=true
MemoryMax=256M
TasksMax=10
SyslogIdentifier=flowmon
Restart=on-failure
RestartSec=5s
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target